* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
  padding: 1.875rem;
}

input {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.4;
  border: none;
  color: #262626;
}

button {
  padding: 0.625em 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: #262626;
  background-color: hsl(219, 79%, 66%);
  border: 2px solid #262626;
  border-radius: 0.25em;
}

button:hover {
  cursor: pointer;
  background-color: hsl(219, 79%, 60%);
}

ol {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  height: fit-content;
  flex-direction: column;
  border: 2px solid #eee;
  border-radius: 0.25em;
  overflow: hidden;
}

.card img {
  object-fit: cover;
}

.card p {
  padding: 0 0.875em;
}

.card-grid {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
