* {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
  padding: 3.75rem;
}

input {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.4;
  border: none;
  color: #262626;
}

button {
  padding: 0.625em 1em;
  text-transform: uppercase;
  font-weight: bold;
  color: #262626;
  background-color: hsl(219, 79%, 66%);
  border: 2px solid #262626;
  border-radius: 0.25em;
}

button:hover {
  cursor: pointer;
  background-color: hsl(219, 79%, 60%);
}
